@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
   border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none;
}

:root {
   --theme-50: 254 ,242 ,243;
   --theme-100: 253 ,230 ,233;
   --theme-200: 250 ,209 ,215;
   --theme-300: 245 ,158 ,171;
   --theme-400: 241 ,123 ,143;
   --theme-500: 230 ,77 ,107;
   --theme-600: 210 ,44 ,84;
   --theme-700: 177 ,31 ,71;
   --theme-800: 148 ,29 ,65;
   --theme-900: 127 ,28 ,61;
   --theme-950: 71 ,10 ,29;
}

.skeleton-nav-item {
   @apply animate-pulse cursor-pointer rounded-lg bg-slate-300 transition-colors duration-300 hover:bg-slate-500 flex-shrink-0
}

.skeleton-nav-icon {
   @apply h-[20px] w-[32px] cursor-pointer text-slate-800 transition-colors duration-300 hover:text-slate-600
}

.h-screen-custom {
   height: 100dvh;
}

.h-screen-custom {
   height: 100vh;
}

.react-calendar {
   @apply font-openSans w-full max-w-[100%] bg-white shadow-lg shadow-slate-200 border-slate-200 border leading-[1.25rem] smTablet:rounded-lg text-slate-600
}

.react-calendar--doubleView {
   width: 600px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
   display: flex;
   margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
   width: 50%;
   margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.react-calendar button {
   margin: 0;
   border: 0;
   outline: none;
}

.react-calendar button:enabled:hover {
   cursor: pointer;
}

.react-calendar__navigation {
   display: flex;
   height: 44px;
   margin-bottom: 1em;
}

.react-calendar__navigation button {
   min-width: 44px;
   background: none;
}

.react-calendar__navigation button:disabled {
   @apply text-gray-400 cursor-not-allowed
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
   @apply bg-gray-100 transition-colors duration-300;
}

.react-calendar__month-view__weekdays {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
   padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.75em;
   font-weight: bold;
}

/*bold */
.react-calendar__month-view__days__day--weekend {
   @apply text-slate-800 font-semibold;
}

.react-calendar__month-view__days__day--neighboringMonth {
   @apply text-slate-400 font-semibold;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
   padding: 2em 0.5em;
}

.react-calendar__tile {
   max-width: 100%;
   padding: 10px 6.6667px;
   background: none;
   text-align: center;
   line-height: 16px;
}


/*disable bg color*/
.react-calendar__tile:disabled {
   @apply bg-slate-200 cursor-not-allowed text-slate-800
}


/*hover*/
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
   @apply bg-primary-400 transition-colors duration-300 text-white
}

.react-calendar__tile--now {
   @apply bg-slate-800 text-white
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
   @apply bg-slate-600 text-white transition-colors duration-300
}

.react-calendar__tile--hasActive {
   @apply bg-primary-400 transition-colors duration-300 text-white
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
   background: #a9d4ff;
}

.react-calendar__tile--active {
   @apply bg-primary-400 transition-colors duration-300 text-white

}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
   @apply bg-primary-600 transition-colors duration-300 text-white

}

.react-calendar--selectRange .react-calendar__tile--hover {
   @apply bg-red-400

}


